
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">


<head>

    <meta charset="utf-8" />
    <title>Basic Elements | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <app-header></app-header>

<!-- removeNotificationModal -->
<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
            </div>
         

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        <!-- ========== App Menu ========== -->
       <app-menu></app-menu>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                                <h4 class="mb-sm-0">Modifier Femme de menage</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Femme De Menage</a></li>
                                        <li class="breadcrumb-item active">Modifier Femme de menage</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Modifier Femme de menage</h4>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <div class="p-2 mt-4">
                                        <form action="javascript:void(0);" (ngSubmit)="updateUtilisateur()" [formGroup]="updateForm">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="nom" class="form-label">Nom</label>
                                                        <input type="text" class="form-control" placeholder="Entrer Nom" id="nom" formControlName="nom">
                                                        <small *ngIf="nom.invalid && nom.touched" class="text-danger">Nom est obligatoire</small>
                                                    </div>
                                                </div><!--end col-->
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="prenom" class="form-label">Prenom</label>
                                                        <input type="text" class="form-control" placeholder="Entrer Prenom" id="prenom" formControlName="prenom">
                                                        <small *ngIf="prenom.invalid && prenom.touched" class="text-danger">Prenom est obligatoire</small>
                                                    </div>
                                                </div><!--end col-->
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="adresse" class="form-label">Adresse</label>
                                                        <input type="text" class="form-control" placeholder="Votre adresse" id="adresse" formControlName="adresse">
                                                        <small *ngIf="adresse.invalid && adresse.touched" class="text-danger">Adresse est obligatoire</small>
                                                    </div>
                                                </div><!--end col-->
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="numeroTelephone" class="form-label">Numéro de téléphone</label>
                                                        <input type="tel" class="form-control" placeholder="+(216) ** *** ***" id="numeroTelephone" formControlName="telephone">
                                                        <div id="telephone-error" class="error-messages">
                                                            <small class="error-message" *ngIf="telephone.errors?.['required'] && telephone.touched" class="text-danger">Numéro de téléphone est obligatoire</small>
                                                            <small class="error-message" *ngIf="telephone.errors?.['invalidTelephone'] && telephone.touched" class="text-danger">Numéro de téléphone invalide (doit comporter au moins 8 chiffres)</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Adresse Email</label>
                                                        <input type="email" class="form-control" placeholder="example@gmail.com" id="email" formControlName="email">
                                                        <!-- Error messages -->
                                                        <div id="email-error" class="error-messages">
                                                            <small class="error-message" *ngIf="email.errors?.['required'] && email.touched">* Adresse Email est obligatoire</small>
                                                            <small class="error-message" *ngIf="email.errors?.['email'] && email.touched">* Adresse Email invalide (exemple : example@gmail.com)</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="password" class="form-label">Mot de passe</label>
                                                        <input type="password" class="form-control" id="password" placeholder="***********" formControlName="mdp">
                                                        <small *ngIf="mdp.invalid && mdp.touched" class="text-danger">Mot de passe est obligatoire</small>
                                                    </div>
                                                </div><!--end col-->
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label for="confirmPassword" class="form-label">Confirmez votre mot de passe</label>
                                                        <input type="password" class="form-control" placeholder="***********" id="confirmPassword" formControlName="confirmPassword">
                                                        <small *ngIf="confirmPassword.errors?.['mismatch'] && confirmPassword.touched" class="text-danger">
                                                            Les mots de passe ne correspondent pas.
                                                        </small>
                                                    </div>
                                                </div><!--end col-->
                                                
                                                
                                                <div class="col-lg-12">
                                                    <div class="text-end">
                                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                                    </div>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    
                 
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

          <app-footer></app-footer>
        </div>
        <!-- end main content-->

    </div>
    
    

</body>
</html>

